*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

:root{
    --color-primary: white;
    --color-hover: tomato;

    --color-pink: #ffc0cb;
    --color-bgpink: #ff69b4;
    --color-dppink: #ff1493;

    --font-family: 'MainStyle', sans-serif;
}

html, body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.6;
    background-color: #000;
    color: var(--color-primary);
}